<div id="bandeau" ></div>
	<div class="container-fluid">   
		<div class="row">
			<div id="header"><strong class="police1"> Plateforme Previa: Prévision </strong> <p class ="police2"> Connecté </p></div>        
		</div>
	</div>
	<div class="container-fluid">
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#home"><strong>Home</strong></a></li>
	      <li><a href="#dashboard"><strong>Dashboard</strong></a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="#login"><span class="glyphicon glyphicon-log-in"></span><strong>Login</strong></a></li>
	    </ul>
	</div>